<% service = @services.first %>

<section id="services" class="my-5 pt-5">
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <div class="service-title">
          <%= image_tag(service.image.url, size: "420x200", class: "service-title-img", alt: "service-title-img") %>
        </div>
      </div>
      <div class="col">
        <ul class="text-left">
          <%=service.description_vn.html_safe%>
        </ul>
        <a href="" class="pricing">Xem bản giá</a>
        <div style="width: 400px;" class="red-text-wrapper mt-5 pl-3 pt-2">
          <h4 class="red-text">
            Gọi đặt lịch ngay 0912 141 241
            <div style="width: 340px;" class="pink-hr-line"></div>
          </h4>
        </div>
      </div>
    </div>

    <div class="red-hr-line mx-auto my-5"></div>
    <% if service.sub_services.present?%>
      <% subs = service.sub_services %>
      <% subs.each do |sub|%>
        <div class="row img-row pt-5 my-5">
          <div class="col">
            <p><%= sub.title_vn %></p>
            <h5><%= sub.price %></h5>
            <%= sub.description_vn.html_safe %>
            <div style="width: 144px;" class="red-text-wrapper mt-5 pl-3 pt-2">
              <h4 class="red-text">
                Đặt lịch
                <div style="width: 110px;" class="pink-hr-line"></div>
              </h4>
            </div>
          </div>
          <div class="col">
            <%= image_tag(sub.image.url, size: "480x440")%>
          </div>
        </div>

        <hr>
      <% end %>
    <% end %>
  </div>
</section>

<section id="client-pictures" class="my-5">
  <div class="container">
    <h1 class="text-center">KHÁCH HÀNG ĐÃ LÀM</h1>
    <div class="red-hr-line mx-auto my-5"></div>
    <div class="row my-3">
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-1">
      </div>
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-2">
      </div>
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-3">
      </div>
    </div>
    <div class="row my-3">
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-1">
      </div>
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-2">
      </div>
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-3">
      </div>
    </div>
    <div class="row my-3">
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-1">
      </div>
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-2">
      </div>
      <div class="col text-center">
        <img style="width: 100%; object-fit: cover;" src="https://placeimg.com/358/358/any" alt="prod-3">
      </div>
    </div>
    <a href="" class="pricing">Xem thêm</a>
  </div>
  <hr/>

    <div class="row">
      <% if service.priority != "01" %>
        <% pre_service = Service.get_previous_service(service.priority) %>
        <div class="col page-prev d-flex flex-row">
          <%= image_tag(pre_service.image.url, size: "250x300")%>
          <div class="txt-wrapper mx-3 mt-5 d-flex flex-column">
            <h2><%= pre_service.title_vn %></h2>
            <a href="" class="btn-prev">Previous</a>
          </div>
        </div>
      <% end %>

      <% if service.priority != @last_service.priority %>
        <% next_service = Service.get_next_service(service.priority) %>
        <div class="col page-next d-flex flex-row-reverse">
          <%= image_tag(next_service.image.url, size: "250x300")%>
          <div class="txt-wrapper mx-3 mt-5 d-flex flex-column">
            <h2><%= next_service.title_vn %></h2>
            <a href="" class="btn-next">Next</a>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</section>

<div class="pagination-service hidden">
  <%= will_paginate @services %>
</div>
